USE [master]
GO
/****** Object:  Database [car3]    Script Date: 4.01.2023 11:57:38 ******/
CREATE DATABASE [car3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'car3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\car3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'car3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\car3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [car3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [car3]
GO
USE [car3]
GO
/****** Object:  Table [dbo].[car3]    Script Date: 4.01.2023 11:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car3](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nchar](10) NULL,
	[Model] [nchar](10) NULL,
	[Type] [nchar](10) NULL,
	[ModelYear] [int] NULL,
	[Gear] [nchar](10) NULL,
	[Colors] [nchar](10) NULL,
	[Fuel] [nchar](10) NULL,
 CONSTRAINT [PK_car3.1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[register]    Script Date: 4.01.2023 11:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[register](
	[ID] [int] NULL,
	[Nickname] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[car3] ON 

INSERT [dbo].[car3] ([ID], [Brand], [Model], [Type], [ModelYear], [Gear], [Colors], [Fuel]) VALUES (5, N'fddfsdf   ', N'sdfsdf    ', N'sdfsdf    ', 38473, N'sdfsdfsd  ', N'sdfs      ', N'dsf       ')
INSERT [dbo].[car3] ([ID], [Brand], [Model], [Type], [ModelYear], [Gear], [Colors], [Fuel]) VALUES (6, N'sdfsdfsd  ', N'sdfsd     ', N'sdfsdfsd  ', 43523443, N'sdfsdf    ', N'dsfsdf    ', N'sdfsd     ')
SET IDENTITY_INSERT [dbo].[car3] OFF
USE [master]
GO
